.container {
	margin:80px auto;
	width:700px;
}
#btn {
	height: 31px;
	padding: 3px 20px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #0382AD;
	background-color: #45B5DA;
	background: linear-gradient(#45B5DA,#0382AD);
	background: -webkit-linear-gradient(#45B5DA,#0382AD);
	background: -moz-linear-gradient(#45B5DA,#0382AD);
	background: -ms-linear-gradient(#45B5DA,#0382AD);
	cursor: pointer;
}
#number1,
#number2,
#number3,
#opt {
	height: 24px;
}